.square {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 1px solid white;
  font-family: 'varela-round', Avenir, Helvetica, Arial, sans-serif;
  font-size: 6cqw;
  line-height: 0;
}

@media (min-width: 768px) {
  .square {
    max-height: inherit;
  }
}
