.turns-display-container {
  display: flex;
  justify-content: center;
  gap: 2rem;

  font-family: 'varela-round', Avenir, Helvetica, Arial, sans-serif;
}

.turns__turn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  font-size: 8cqw;

  height: 8cqw;
  aspect-ratio: 1/1;
}

.turn--selected {
  background-color: rgba(62, 144, 226, 0.978);
}
