.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;

  max-width: 300px;
  width: 80%;
  aspect-ratio: 1/1;
}

@media (min-width: 768px) {
  .board-container {
    min-width: 300px;
    max-width: 350px;
    width: 45%;
    aspect-ratio: 1/1;
  }
}
